$bg-color: #98CDFC; 
$bg-dark-color: #05233E; 
$bg-white-color: #D3D7DB;
$bg-input-color: #F3F9FE;
$bg-warn-color: #A8797B;
$bg-ok-color: #AECAAD;

$text-color: #29292B;
$text-light-color: #A8B7C3;
$text-warn-color: #BA2D00;
$text-ok-color: #007C53;

$border-color: #3E3B39;
$shadow-color: #595553;
$little-shadow-color: #656260;
$light-shadow-color: #756F6C;
