@keyframes spin { 100% {transform:rotate(360deg);} }

.badge {
    border-radius: 5px;
    color: white;
    padding: 0 2px;

    &.type_donation { background: #339ACC; }
    &.type_bill { background: #D92121; }
    &.type_paid_month { background: #29AB87; }
    &.type_other { background: #606060; }
}


.negative {
    color: $text-warn-color;
}

.positive {
    color: $text-ok-color;
}

.price {
    text-align: right;
}

.disabled {
    display: none;
}

.right {
    float: right;
    text-align: right;
}

.clear {
    clear: both;
    width: 100%;
}

.not-active {
    color: $text-warn-color;
}

.warn {
    background-color: $bg-warn-color;
    font-weight: bold;
}

