<style>
body {
    font-family: 'Arial';
    font-size: 16pt;
    color: #7b7b7b;
}
#main {
    width: 900px;
    margin: auto;
}
table {
    margin-top: 20px;
    box-shadow: 1px 1px 1px #bcbcbc;
}
caption {
    font-size: 24pt;
    text-align: left;
}
table, th, td {
    border: 1px solid #bcbcbc;
    border-collapse: collapse;
}
td.name {
    width: 500px;
}
td.value {
    width: 100px;
    text-align: right;
}
thead {
    background-color: #62B5FF;
    color: white;
}
.negative {
    color: #B2140C;
}
</style>
<div id='main'>
{% for report in months %}
<div class='month'>
<table>
    <caption>
        {{report.year}}
        {% if report.month %} - {{"%02d" | format(report.month) }}{% endif %}
    </caption>
    <thead>
        <tr>
            <th>NAZWA</th>
            <th>WARTOŚĆ</th>
        </tr>
    </thead>
    <tbody>
        {% for row in report.rows %}
        <tr>
            <td class='name'>{{ row.name | upper }}</td>
            <td class='value {{ row.get_classes() }}'>{{ row.get_value() }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<img src="data:image/png;base64,{{ report.graphs['positive'] }}"\>
<img src="data:image/png;base64,{{ report.graphs['negative'] }}"\>
<hr/>
</div>
{% endfor %}
</div>
