<head>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script> 
<script>
    function plot (domId, conf, data) {
        return Plotly.newPlot(domId, data, conf);
    }
</script>
<style>
body {
    font-family: 'Arial';
    font-size: 16pt;
}
#main {
    width: 900px;
    margin: auto;
}
table {
    margin-top: 20px;
}
caption {
    font-size: 24pt;
    text-align: left;
}
table, th, td {
    border: 1px solid #bcbcbc;
    border-collapse: collapse;
}
td.name {
    width: 500px;
}
td.value {
    width: 100px;
    text-align: right;
}
thead {
    background-color: #62B5FF;
    color: white;
}
.negative {
    color: #B2140C;
}
</style>
</head>
<div id='main'>
<div id="plot-main" style="width:900px;height:300px;"></div>
<script>
    plot('plot-main', {
        legend: {x: 0, y: 1, bgcolor: '#f2f2f2'},
        margin: {l: 50, r: 0, b: 25, t: 25, pad: 4}
    }, [
        {
            name: 'Stan konta',
            mode: 'scatter',
            x: {{ main_plot.dates | tojson | safe}},
            y: {{ main_plot.acc | tojson | safe}},
            line: {color: '#76D7EA', width: 0},
            fill: 'tozeroy'
        }, {
            name: 'Przychód / Strata',
            mode: 'scatter',
            x: {{ main_plot.dates | tojson | safe}},
            y: {{ main_plot.moneys | tojson | safe}},
            line: { color: '#1E90FF', width: 1}
        }, {
            name: 'Rachunki',
            mode: 'scatter',
            x: {{ main_plot.dates | tojson | safe}},
            y: {{ main_plot.bills | tojson | safe}},
            line: { color: '#FFBF00', width: 2}
        }, {
            name: 'Składki',
            mode: 'scatter',
            x: {{ main_plot.dates | tojson | safe}},
            y: {{ main_plot.paids | tojson | safe}},
            line: { color: '#29AB87', width: 1}
        }
    ]);
</script>
{% for report in months %}
<div class='month'>
<table>
    <caption>
        {{report.year}}
        {% if report.month %} - {{"%02d" | format(report.month) }}{% endif %}
    </caption>
    <thead>
        <tr>
            <th>NAZWA</th>
            <th>WARTOŚĆ</th>
        </tr>
    </thead>
    <tbody>
        {% for row in report.rows %}
        <tr>
            <td class='name'>{{ row.name | upper }}</td>
            <td class='value {{ row.get_classes() }}'>{{ row.get_value() }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div id="plot-month-pos-{{report.month}}" style="width:300px;height:300px;"></div>
<div id="plot-month-neg-{{report.month}}" style="width:300px;height:300px;"></div>
<script>
    plot('plot-month-pos-{{report.month}}', {
        title: '{{report.graphs.positive.title }}',
        showlegend: false,
        margin: {l: 50, r: 0, b: 25, t: 25, pad: 4}
    }, [
        {
            type: 'pie',
            values: {{ report.graphs.positive.vals | tojson | safe}},
            labels: {{ report.graphs.positive.labels | tojson | safe}},
        }
    ]);
    plot('plot-month-neg-{{report.month}}', {
        title: '{{report.graphs.negative.title }}',
        showlegend: false,
        margin: {l: 50, r: 0, b: 25, t: 25, pad: 4}
    }, [
        {
            type: 'pie',
            values: {{ report.graphs.negative.vals | tojson | safe}},
            labels: {{ report.graphs.negative.labels | tojson | safe}},
        }
    ]);
</script>
<hr/>
</div>
{% endfor %}
</div>
