table {
  width: 100%;
  border: 1px solid #3E3B39;
  border-collapse: collapse;
  font-size: 8pt; }
  table thead th {
    background-color: #756F6C;
    color: #FFF; }
  table td, table th {
    border: 1px solid #3E3B39;
    background-color: #D3D7DB; }
    table td.loading, table th.loading {
      width: 100%;
      height: 200px;
      font-size: 14pt;
      text-align: center; }
      table td.loading img, table th.loading img {
        animation: spin 4s linear infinite; }

#table-members td {
  text-align: center; }

@keyframes spin {
  100% {
    transform: rotate(360deg); } }

.badge {
  border-radius: 5px;
  color: white;
  padding: 0 2px; }
  .badge.type_donation {
    background: #339ACC; }
  .badge.type_bill {
    background: #D92121; }
  .badge.type_paid_month {
    background: #29AB87; }
  .badge.type_other {
    background: #606060; }

.negative {
  color: #BA2D00; }

.positive {
  color: #007C53; }

.price {
  text-align: right; }

.disabled {
  display: none; }

.right {
  float: right;
  text-align: right; }

.clear {
  clear: both;
  width: 100%; }

.not-active {
  color: #BA2D00; }

.warn {
  background-color: #A8797B;
  font-weight: bold; }

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); }

.modal-content {
  background-color: #D3D7DB;
  margin: 15% auto;
  padding: 20px;
  border: 3px solid #3E3B39;
  border-radius: 10px;
  width: 500px; }

body {
  background-color: #98CDFC;
  color: #29292B;
  font-family: Arial;
  font-size: 12pt; }

#menu {
  display: block;
  font-size: 10pt;
  margin: auto;
  text-align: center; }
  #menu > li {
    display: inline;
    padding: 5px;
    border: 1px solid #3E3B39;
    box-shadow: 1px 1px 1px #595553;
    border-radius: 5px;
    background: linear-gradient(#e1e1e1, #c0c0c0);
    cursor: pointer;
    padding: 0 2px; }
    #menu > li:hover {
      background: linear-gradient(#f1f1f1, #e1e1e1); }
    #menu > li:active {
      color: #c0c0c0;
      background: linear-gradient(#ffffff, #f1f1f1); }

a.btn {
  border: 1px solid #3E3B39;
  box-shadow: 1px 1px 1px #595553;
  border-radius: 5px;
  background: linear-gradient(#e1e1e1, #c0c0c0);
  cursor: pointer;
  padding: 0 2px; }
  a.btn:hover {
    background: linear-gradient(#f1f1f1, #e1e1e1); }
  a.btn:active {
    color: #c0c0c0;
    background: linear-gradient(#ffffff, #f1f1f1); }

#main {
  width: 1000px;
  margin: auto; }

fieldset {
  height: 50px;
  display: inline;
  border: none; }

input.good-input {
  background-color: #AECAAD; }

input {
  border: 1px solid #3E3B39;
  background-color: #F3F9FE;
  color: #29292B; }

ul.data-list {
  display: block;
  z-index: 2;
  position: relative;
  width: 400px; }

ul.data-list li {
  display: block;
  background-color: #ccc;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 9pt;
  padding: 1px; }

ul.data-list li:hover {
  background-color: #dfdfdf; }

.data-list .not-active {
  float: right; }
