body {
    background-color: #DCDCDC;
    color: #2D383A;
    font-family: Arial;
    font-size:12pt;
}

#menu {
    display: block;
    font-size: 10pt;
    margin: auto;
    text-align: center;
}

#menu > li {
    display: inline;
    padding: 5px;
}

#menu > li, a.btn {
    border: 1px solid #808080;
    box-shadow: 1px 1px 2px #808080;
    border-radius: 5px;
    background: linear-gradient(#e1e1e1, #c0c0c0);
    cursor: pointer;
    padding: 0 2px;
}
#menu > li:hover, a.btn:hover {
    background: linear-gradient(#f1f1f1, #e1e1e1);
}
#menu > li:active, a.btn:active {
    color: #c0c0c0;
    background: linear-gradient(#ffffff, #f1f1f1);
}

#main {
    width: 1000px;
    margin: auto;
}

fieldset {
    height: 50px;
    display: inline;
    border: none;
}

table {
    width: 100%;
    border: 1px solid #808080;
    border-collapse: collapse;
    font-size: 8pt;
}

thead th {
    background-color: #353839;
    color: #D9D6CF;
}

td, th {
    border: 1px solid #808080;
}

.badge {
    border-radius: 5px;
    color: white;
    padding: 0 2px;
}

.type_donation {
    background: #339ACC;
}

.type_bill {
    background: #D92121;
}

.type_paid_month {
    background: #29AB87;
}

.type_other {
    background: #606060;
}

@keyframes spin { 100% {transform:rotate(360deg);} }

td.loading {
    width: 100%;
    height: 200px;
    font-size: 14pt;
    text-align: center;
}
td.loading img {
    animation: spin 4s linear infinite;
}

.negative {
    color: #E12C2C;
}

.positive {
    color: #4D8C57;
}

.price {
    text-align: right;
}

.disabled {
    display: none;
}

.right {
    float: right;
    text-align: right;
}

.clear {
    clear: both;
    width: 100%;
}

.not-active {
    color: red;
}

.warn {
    background-color: #FF5349;
    font-weight: bold;
}

input.good-input {
    background-color: #93DFB8;
}

ul.data-list {
    display: block;
    z-index: 2;
    position: relative;
    width: 400px;
}

ul.data-list li {
    display: block;
    background-color: #ccc;
    border: 1px solid #ddd;
	border-radius: 5px;
    font-size: 9pt;
    padding: 1px;
}

ul.data-list li:hover {
    background-color: #dfdfdf;
}

.data-list .not-active {
    float: right;
}

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
	border-radius: 10px;
    width: 500px; 
}

#table-members td {
    text-align: center;
}
