thead
    th Data
    th Nazwa
    th Kwota
    th *
tbody
    - for obj in data
        tr
            td= obj.transaction.date
            td= obj.name
            td.price(
                class=obj.cost < 0 ? 'negative' : 'positive'
            )= obj.cost + " zł"
            td: a.btn(onclick='view.deleteRecord(this, #{obj.id})') Usuń
