div(class='login')
    h1 Logowanie
    form(name='login', class='login')
        fieldset
            label Użytkownik:
            input(type='text', name='user')
        fieldset
            label Hasło:
            input(type='text', name='password')
        fieldset
            input(type='submit', value='Zaloguj') 
