h1 Przelewy
form(name='transactions')
    fieldset
        legend Data
        label Miesiac
        input(type='radio', name='has_month' value='y', checked)
        label Zakres
        input(type='radio', name='has_month' value='n')
        div#transaction-month
            input(type='month', name='month')
        div.disabled#transaction-range
            label Od dnia
            input(type='date', name='date_start', disabled) 
            br
            label Do dnia
            input(type='date', name='date_end', disabled)
    fieldset
        legend mniejszy od
        input(type='number', min='0', step='0.01', name='cost_le')
    fieldset
        legend większy od
        input(type='number', min='0', step='0.01', name='cost_ge')
    fieldset
        legend Szukaj
        input(type='search', name='text')
    fieldset
        legend Opcje
        input(type='checkbox', name='negative' value='t')
        span Ujemne?
        input(type='checkbox', name='positive', value='t')
        span Dodatnie?

table#transactions
